# Xcode
build/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# App build products
*.app
*.dSYM

# Derived data
DerivedData/
